<div class="landing">
	<div>
		<h3 class="landing-text">Get Your Short Link</h3>
		<form  ng-submit="getNewURL(text)" class="form">
			<input type="text" ng-model="text" name="text" class="text-box" placeholder="https://www.yoururl.com/" id="url">
			<button type="submit" class="submit">Get Link</button>
		</form>
		<p class="t-center">
			<a class="link" ng-href="{{ urlPath }}" target="_blank" ng-style="titleColour">{{ title }}</a>
		</p>
	</div>
</div>

<div class="cont">
		
	<h1 class="heading t-center">Our Links</h1>

	<table class="table">
		<tr class="table-row">
			<th class="table-header">URL</th>
			<th class="table-header">Short Code</th>
			<th class="table-header">Link</th>
		</tr>
		<tr ng-repeat="link in links" class="table-row">
			<td class="table-item">
				<div class="table-item-cont">
					{{ link.link }}
				</div>
			</td>
			<td class="table-item">{{ link.code }}</td>
			<td class="table-item">
				<div class="table-item-cont">
					<a ng-href='{{ siteURL + "r/" + link.code }}' target="_blank" class="orangeish link">
						{{ siteURL + 'r/' + link.code }}
					</a>	
				</div>
			</td>
		</tr>
	</table>

</div>
