body{
	padding: 0;
	margin: 0;
}

.cont{
	width: 70%;
	margin: 20px auto;
}

.nav{
	background-color: #29333E; /*BLUE*/
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	height: 10vh;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-item:nth-child(1){
	margin-right: 25%;
}

.nav-item:nth-child(2){
	margin-left: 25%;
}

.nav-list{
	list-style: none;
	padding: 0;
}

.nav-list-item{
	display: inline-block;
	margin: 0 20px;
}

.main-text{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 0;
	color: #FFD15A; /*YELLOWish*/
	display: inline-block;
}

.link{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: #F5DEB3;
}

.link:hover{
	opacity: .6;
}

.landing{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #29333E;
	min-height: 90vh;
}

.landing-text{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 10px 0;
	margin: 0;
	color: #FFD15A; /*YELLOWish*/
	text-align: center;
}

.heading{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 20px 0px;
	margin: 0;
	font-size: 1.25em;
	color: #29333E;
}

.form{
	border-radius: 12px;
}

.text-box{
	border: none;
	background-color: rgba(0, 0, 0, .2);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 6px 10px;
	border-radius: 10px 0 0 10px; 
	color: #fff;
	margin: 0;
	font-size: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	border-left: 1px solid rgba(0, 0, 0, .4);
	border-top: 1px solid rgba(0, 0, 0, .4);
}

.text-box:focus, .submit:focus{
	text-decoration: none;
	outline: none;
}

.submit::-moz-focus-inner{
	border: 0px solid transparent;
}

.submit{
	border: none;
	background-color: #FFD15A;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 6px 10px;
	margin: 0 0 0 -5px;
	border-radius: 0 10px 10px 0; 
	color: #29333E;
	font-size: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	border-right: 1px solid rgba(0, 0, 0, .4);
	border-top: 1px solid rgba(0, 0, 0, .4);
}

.submit:hover{
	cursor: pointer;
}

.t-center{
	text-align: center;
}


.table{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: 1px solid #29333E;
	border-collapse: collapse;
	table-layout:fixed; 
	width: 100%;
}

.table-row:hover .table-item{
    background-color: #29333E;
    color: #FFD15A;
}

.table-row:hover .table-item-cont{
	white-space: normal;
    overflow: visible;
}

.table-header:nth-child(1){
	width: 50%;
}

.table-header{
	border: 1px solid #29333E;
	width: 25%;
	padding: 10px 10px;
	background-color: #29333E;
	color: #FFD15A;
}

.table-item:nth-child(1){
	text-align: left;
}

.table-item{
	border: 1px solid #29333E;
	margin: 0px;
	text-align: center;
	table-layout: fixed; 
    color: #29333E;
}

.table-item-cont{
	white-space: nowrap;
    overflow: hidden;
	margin: 3px 10px;
}

.orangeish{
	color: #F9A624;
}

.footer{
	min-height: 10vh;
	height: 50px;
	background-color: #29333E;
	margin-top: 30px;
}
